In [14]:
import pandas as pd

data = pd.read_table('..\data.tsv')
data

            tconst  averageRating  numVotes
0        tt0000001            5.6      1645
1        tt0000002            6.1       198
2        tt0000003            6.5      1342
3        tt0000004            6.2       120
4        tt0000005            6.2      2127
...            ...            ...       ...
1070313  tt9916580            7.2         5
1070314  tt9916690            6.6         5
1070315  tt9916720            5.8        60
1070316  tt9916766            6.9        14
1070317  tt9916778            7.3        24

[1070318 rows x 3 columns]

In [15]:
data.tconst.duplicated().sum()

0

In [2]:
find500 = data.loc[data['numVotes'] == 500]
find500

            tconst  averageRating  numVotes
3595     tt0013674            7.0       500
9018     tt0024561            6.8       500
11826    tt0028277            7.7       500
22779    tt0041956            6.5       500
27186    tt0047361            7.3       500
...            ...            ...       ...
1043265  tt8960572            6.0       500
1059269  tt9454484            8.7       500
1062934  tt9614612            7.7       500
1064691  tt9680914            7.1       500
1069708  tt9895050            9.0       500

[110 rows x 3 columns]

In [3]:
find500['averageRating'].mean()

6.731818181818184

In [13]:
rangeQ = data[data['numVotes'].between(30000, 40000, inclusive="both")]
rangeQ

            tconst  averageRating  numVotes
4090     tt0015324            8.2     39659
10652    tt0026778            7.9     30034
12340    tt0028950            8.1     33182
16554    tt0034248            7.4     31674
19136    tt0037382            7.8     30254
...            ...            ...       ...
1051134  tt9166678            9.5     39561
1058220  tt9412098            7.2     34985
1059042  tt9446688            7.6     34489
1062871  tt9612516            6.8     39085
1064673  tt9680440            7.8     34564

[953 rows x 3 columns]

In [25]:
print("------------Experiment 3-------------")
print("Num Records: \t", find500.shape[0])
print("Min NumVotes: \t",find500['numVotes'].min())
print("Max NumVotes: \t",find500['numVotes'].max())
print("Duplicates: \t", find500.numVotes.duplicated().sum())
print("avg Rating: \t", find500['averageRating'].mean())

print("------------Experiment 4-------------")
print("Num Records: \t", rangeQ.shape[0])
print("Min NumVotes: \t",rangeQ['numVotes'].min())
print("Max NumVotes: \t",rangeQ['numVotes'].max())
print("Duplicates: \t", rangeQ.numVotes.duplicated().sum())
print("avg Rating: \t", rangeQ['averageRating'].mean())

------------Experiment 3-------------
Num Records: 	 110
Min NumVotes: 	 500
Max NumVotes: 	 500
Duplicates: 	 109
avg Rating: 	 6.731818181818184
------------Experiment 4-------------
Num Records: 	 953
Min NumVotes: 	 30022
Max NumVotes: 	 39996
Duplicates: 	 52
avg Rating: 	 6.727911857292764

In [16]:
rangeQ['averageRating'].mean()

6.727911857292764